.cv-detail-box img{
    max-width: 3rem;
    width: 100%;
    border-radius: 100%;

}

.cv-detail-box {
 
    border-radius: 20px;
    box-shadow: rgb(38 26 25 / 4%) 0px 1.51px 5.3px, 
                rgb(38 26 25 / 5%) 0px 3.03px 4.54px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: block;
}



