.cv-detail-box img{
    max-width: 3rem;
    width: 100%;
    border-radius: 100%;

}

.cv-detail-box {
    border-radius: 5px;
    box-shadow: #fffd99 0px 1.51px 5.3px, 
                #ffcb86 0px 3.03px 4.54px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: block;
}

.badge {
    margin-left: 310px;
    box-shadow: #fffd99 1px 1px 1px, 
                #ffcb86 1px 1px 1px;
}



