@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Bungee+Inline&display=swap');

.navbar {
    font-family: 'Abhaya Libre', serif !important;
    font-size: 22px;
    background: transparent !important;
    border-color: #071030 !important;
    border-width: 3px;
}

.btn-primary {
    font-family: 'Bungee Inline', cursive !important;
    background-color: #FFE5A4 !important;
    color: #071030 !important;
    stroke-width: 0.5px;
    border-color: #071030;
    font-size: 16px !important;
}

.navbar-brand {
    font-family: 'Bungee Inline', cursive !important;
    color: #071030 !important;
    margin-right: 68px;
}

.nav-item {
    margin-right: 30px;
}


