
h1 {
    font-family: 'Bungee Inline', cursive !important;
    font-size: 60px;
    margin-top: 48px;
    margin-left: 170px !important;
}

h2 {
    margin-left: 38px;
    margin-top: 27px;
}

.name-module {
    width: 729px;
    height: 250px;
    background: white;
    margin: 8px;
    border-radius: 5px;
    
}

.name-module:hover {
   background-color: rgba(128, 128, 128, 0.096);
}

.podcast-module {
    margin: 8px;
    margin-bottom: -30px;
    background: white;
    width: 789px;
    height: 316px;
    border-radius: 5px;
}

.podcast-module h2{
   position: absolute;
   z-index: 3;
   color: black;
   margin-left: 20px;
   margin-top: 80px;
   font-size: 36px;
   font-weight: 900 !important;
  background: white;
  border-radius: 5px;
  padding: 3px;
}


.podcast-module img {
    width: 100%;
    position: relative;
    height: 316px;
    border-radius: 5px;

}

.btn-podcast {
    font-family: 'Bungee Inline', cursive !important;
    color: #FFE5A4;
    margin-left: 80px;
    margin-top: 200px;
    border: 1px solid #ffcb86;
    position: absolute;
    z-index: 3;
}


.portrait img {
    width: 50%;
    margin-left: 705px;
    margin-top: -140px;
    border-radius: 5px;
    margin-top: 1px;
}

.portrait:hover img{
    background-color: rgba(128, 128, 128, 0.096);
}

.portrait-gif {
    position: absolute;
    z-index: 2;
}
